* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0px;
    background-color: #f1f1f1;
}

/*HEADER STYLE*/
header {
    padding: 10px 2%;
    display: flex;
    align-items: center;
}

header #logo{
    max-width: 200px;
    padding-left: 20px;
}

header h5 {
    padding: 1px 2%;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #176524;
    padding-top: 7px;
    padding-inline-end: 30%;

}

header span {
    color: black;
    font-weight: 600;
    padding-top: 7px;
}

header #acessibilidade {
    padding-inline-start: 5px;
    max-width: 45px;
}

/*NAV STYLE*/
nav {
    display: flex;
    background-color: #176524;
    border: none;
    justify-content: center;
}

nav a {
    color: white;
    font-size: 15px;
    padding: 15px;
    padding-left: 2%; padding-right: 2%;
    text-decoration: none;
    text-align: center;
    border-left: 1px;
}

nav a:hover {
    background-color: white;
    color: #176524;
    font-weight: bold;
    transition: 0.3s;
}

/*SECTION STYLES*/
section {
    display: flex;
    justify-content: center;
    margin-top: 2px !important;
}

section p {
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    padding-left: 4%;
}

/*BUTTON STYLES*/
button {
    margin-inline-start: 32% !important;
    background-color: #D9D9D9;
    border: none;
    max-width: 100px; 
    max-height: 30px;
    border-radius: 5px !important;
}

button a {
    text-transform: uppercase;
    font-size: 11px;
}

button:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    background-color: #f1f1f1;
    color: #176524;
  } 

/*DIV ROW STYLES*/
.row {
    background-color: #f1f1f1;
    padding: 2%;
}

.row h1 {
    color: #176524;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

main {
    padding: 0 20% !important;
}

main img {
    max-width: 350px;
    padding: 2%;
}

main a {
    justify-content: center;
}


/* FOOTER STYLE */
footer {
    background-color: #176524;
}

footer p {
    font-size: 12px;
    color: #f1f1f1;
    text-align: center;
    text-transform: uppercase;
    padding: 8px !important;
}


/*RESPONSIVIDADE*/
@media (max-width: 650px) {
    header {
        flex-direction: column;
    }
}